$o-grid-mq-type: width;
$o-grid-is-fluid: true;

@import 'o-grid/main';
@import 'o-colors/main';
@import 'o-ft-typography/main';
@import 'o-table/main';

$o-ft-header-brand-color: _oColorsGetPaletteColor(pink-tint3) !default;
@import 'o-ft-header/main';
@import 'o-hierarchical-nav/main';

@import 'src/scss/functions';
@import 'src/scss/page';
@import 'src/scss/nav';
@import 'src/scss/content';
@import 'src/scss/table';
@import 'src/scss/header';
@import 'src/scss/prettify';
