<header data-o-component="o-ft-header" data-o-version="{{o-ft-header.module-version}}" class="o-ft-header">
    <div class="o-ft-header__container">
        <div class="o-ft-header__brand">
            <div class="o-ft-header__logo o-ft-header__logo--ft">
                <a href="http://www.ft.com"><abbr title="Financial Times">FT</abbr></a>
                <span class="o-techdocs__logo"></span>
            </div>
        </div>
        <div class="o-ft-header__content">
            <div class="o-ft-header__primary">
                <div class="o-ft-header__primary__left">
                    <h1 class="o-ft-header__title">Documentation for a thing</h1>
                </div>
            </div>
            <div class="o-ft-header__secondary">
                <div class="o-ft-header__secondary__left">
                    <p class="o-techdocs__subtitle">Subtitle for the documentation</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Navigation menu and main content -->
<div class="o-techdocs-layout">

    <!-- Navigation - optional, omit for single page docs.  o-techdocs-sidebar container allows an in-page navigation list to be appended after the site navigation -->
    <div class="o-techdocs-sidebar">
        <nav class="o-hierarchical-nav o-techdocs-nav" data-o-component="o-hierarchical-nav" data-o-version="{{o-hierarchical-nav.module-version}}" data-o-hierarchical-nav-orientiation='vertical'>
            <ul data-o-hierarchical-nav-level="1">
                <li><a href="#">Link title 1</a></li>
                <li><a href="#">Link title 2</a></li>
                <li><a href="#">Link title 3</a></li>
                <li class="o-hierarchical-nav__parent"><a href="#">Link title 4 <i class="o-hierarchical-nav__parent__down-arrow"></i></a>
                    <ul data-o-hierarchical-nav-level="2">
                        <li><a href="#">Sub link 1</a></li>
                        <li aria-selected="true"><a href="#">Sub link 2 (active)</a></li>
                        <li><a href="#">Sub link 3</a></li>
                        <li><a href="#">Sub link 4</a></li>
                    </ul>
                </li>
                <li><a href="#">Link title 5</a></li>
            </ul>
        </nav>
    </div>

    <!-- Main content (outer div for layout, inner for formatting) -->
    <div class='o-techdocs-main'>
        <div class='o-techdocs-content'>

            <h1>Sample content (h1)</h1>

            <p class="o-techdocs-leadbody">The following is sample content demonstrating all the built in styles supported by the <strong>o-techdocs</strong> module.  We use standard FT styles where possible, and basics such as headings (<code>H1</code> to <code>H5</code>), bulleted and numbered lists, inline links and <code>&lt;code&gt;</code> are obviously supported, but the style samples here are designed to better support technical use cases rather than editorial ones.</p>

            <p>The code examples are in the source of this page.</p>

            <h2 id='headings'>Headings (h2)</h2>

            <h3>Headings (h3)</h3>

            <h4>Headings (h4)</h4>

            <h5>Headings (h5)</h5>

            <p>For best results and to enable the nav to auto-index your content easily, use <code>H1</code> once at the top of the document and then correctly nest any uses of <code>H2</code> to <code>H5</code>.

            <h2 id="tables">Tables</h2>

            <p>Tables within <code>o-techdocs-content</code> elements will be automatically styled using <a href="http://registry.origami.ft.com/components/o-table">o-table</a>.</p>

            <p><strong>o-table</strong> styling modifier classes can be applied to the table element, but using the class name <code>o-techdocs-table</code> instead of just <code>o-techdocs</code>. See <strong>o-table</strong>'s <a href="http://registry.origami.ft.com/components/o-table">documentation</a> for more information.</p>

            <p>For example, this table has been given the class <code>o-techdocs-table--horizontal-lines</code>:</p>

            <table class='o-techdocs-table--horizontal-lines'>
                <thead>
                    <tr><th>Repo name</th><th>Host name</th></tr>
                </thead>
                <tbody>
                    <tr><td>tweet-service</td><td>tweet.webservices.ft.com</td></tr>
                    <tr><td>nav-service</td><td>nav.webservices.ft.com</td></tr>
                    <tr><td>mostpopular-service</td><td>mostpopular.webservices.ft.com</td></tr>
                </tbody>
            </table>

            To make tables horizontally scrollable on small screens, wrap them in <code>&lt;div class="o-techdocs-table-wrapper">&lt;/div></code> or include the <strong>o-techdocs</strong> JavaScript module, which will do that for you.

            <h2 id='code'>Code</h2>

            <p>For inline code, wrap the content in a <code>&lt;code&gt;</code> tag.</p>

            <p>For blocks, wrap in <code>&lt;pre&gt;&lt;code&gt;</code>:</p>

            <?prettify linenums=1?>
<pre><code>$.ajax({
    url: "/api/getWeather",
    data: {
    zipcode: 97201
    },
    success: function( data ) {
    $( "#weather-temp" ).html( "<strong>" + data + "</strong> degrees" );
    }
    });</code></pre>

            <p>To trigger syntax highlighting using <a href='https://code.google.com/p/google-code-prettify/'>prettify</a>, prefix the <code>&lt;pre&gt;</code> with a prettify inline hint such as <code>&lt;?prettify linenums=1?&gt;</code>, or add the <code>prettify</code> class, as documented in the <a href='https://code.google.com/p/google-code-prettify/wiki/GettingStarted'>prettify wifi</a>.  Since prettify auto-loads all its lang files, we use it from the Cloudflare CDN.  Put this at the end of your <code>&lt;body&gt;</code> to enable support:</p>

<pre><code>&lt;script src='//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js'>&lt;/script>
    &lt;script>prettyPrint()&lt;/script></code></pre>

            <h2 id='images'>Images</h2>

            <p>Images will be auto-scaled to the width of the content area and given a border.</p>

            <p><img src='src/image.jpg' alt='Montreal skyline' /></p>

            <h2 id='asides'>Asides</h2>

            <p>Use the <code>&lt;aside&gt;</code> tag to create inset boxed content, useful for examples, non-normative notes, warnings for the wary etc.  For a heading inside the aside, use an <code>&lt;h5&gt;</code>.</p>

            <aside>
                <h5>Example heading for the aside</h5>
                <p>Where features or elements of design are used in multiple websites, we need to build them to be usable in all those cases, and portable between them, rather than always building features solely in the context of one product.  These components should not be seen as an intrinsic part of <em>any</em> product, but instead as part of the <b>new digital FT</b>.</p>
            </aside>

            <p>To hide an aside and display only when a link is clicked, give the aside a class of `o-techdocs__aside--toggleable` and an id, which can be anything.  Then create a link that targets the ID (<a href="#note-32">Demo</a>):</p>

            <aside class='o-techdocs__aside--toggleable' id='note-32'>This is an extra note about something</aside>

            <h2 id='disabling-doc-styles'>Disabling doc styles</h2>
            <p>To make it easier to author content in markdown, styles are applied to naked tags inside any <code>.o-techdocs-content</code> element.  However, if you want to include content that you don't want to affect with tech doc styles, you can simply close the <code>.o-techdocs-content</code> and open a new one when you want back into auto-formatting.</p>

            <p>For example, here's some code that's not formatted using doc styles:</p>
        </div>

        <!-- Content outside of .o-techdocs-content is not affected by naked tag styling -->
        <p><code>Sample text in a &lt;code&gt; tag</code></p>

        <div class='o-techdocs-content'>
            <p>Continue with formatted content in another <code>.o-techdocs-content</code> element after your raw content is finished.</p>
        </div>
    </div>

</div> <!-- /row containing nav and content -->

<div class='o-techdocs-footer'>
    <p><a href='http://github.com/financial-times/ft-origami'>View project on Github</a>&copy; THE FINANCIAL TIMES LTD. FT and 'Financial Times' are trademarks of The Financial Times Ltd.</p>
</div>

<!-- Add this if you want syntax highlighting on your page -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js'></script>
<script>prettyPrint()</script>
