.o-techdocs-content {
	@include oTechdocsFont();
	@include oNormaliseText();

	h1 {
		font-size: 30px;
		line-height: oTechdocsSpacingUnit(4);
		padding-bottom: oTechdocsSpacingUnit(2);
		margin-bottom: oTechdocsSpacingUnit(2);
		@include oGridRespondTo(M) {
			font-size: 40px;
			line-height: oTechdocsSpacingUnit(6);
			padding-bottom: oTechdocsSpacingUnit(3);
			margin-bottom: oTechdocsSpacingUnit(3);
		}
	}
	h2 {
		line-height: oTechdocsSpacingUnit(4);
		font-size: 26px;
		padding-bottom: 4px; // magic number to make padding + border-bottom add up to 8 (2*spacing unit)
		margin-bottom: oTechdocsSpacingUnit(2);
		border-bottom: 4px solid $o-techdocs-border-color;
		margin-top: oTechdocsSpacingUnit(5);
	}
	h3 {
		line-height: oTechdocsSpacingUnit(3);
		font-size: 21px;
		margin: oTechdocsSpacingUnit(3) 0;
	}
	h4 {
		line-height: oTechdocsSpacingUnit(3);
		font-size: 18px;
		margin: oTechdocsSpacingUnit(2) 0;
	}

	p {
		margin: oTechdocsSpacingUnit(2) 0;
	}

	hr {
		height: 4px;
		padding: 0;
		margin: oTechdocsSpacingUnit(2);
		background-color: $o-techdocs-border-color;
		border: 0;

		&:before,
		&:after {
			display: table;
			content: "";
		}
		&:after {
			clear: both;
		}
	}

	code,
	pre,
	var,
	kbd,
	output {
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	}
	code {
		font-size: 16px;
		background-color: $o-techdocs-content-background;
		color: $o-techdocs-color-green;
		white-space: pre-wrap;
	}
	var {
		font-style: italic;
		white-space: nowrap;
		color: $o-techdocs-color-purple;
	}

	pre { // Override defaults
		display: block;
		overflow-x: auto;
		margin: 0 0 oTechdocsSpacingUnit(4);
		padding: oTechdocsSpacingUnit(1);
		background-color: $o-techdocs-content-background;
		word-wrap: inherit;
		word-break: break-all;
		font-size: 16px;
		line-height: oTechdocsSpacingUnit(3);
		tab-size: 4;

		> code {
			padding: 0;
			border: 0;
			background-color: transparent;
			color: inherit;
			white-space: pre;
			font-size: inherit;
		}
		// scss-lint:disable QualifyingElement
		li.l1,
		li.l3,
		li.l5,
		li.l7,
		li.l9 {
			// Stripe rows if desired
		}
		// scss-lint:enable QualifyingElement

	}

	// scss-lint:disable QualifyingElement
	pre.long-code {
		overflow-y: scroll;
		max-height: 340px;
	}
	pre.cli {
		background: oColorsMix(black, white, 90);

		kbd,
		output {
			padding-left: 15px;
			display: inline-block;
		}
		kbd {
			color: white;

			// sass-lint:disable nesting-depth
			&:before {
				content: '>';
				margin-left: -15px;
				float: left;
			}
		}
		output {
			color: oColorsMix(black, white, 30);
		}
	}
	// scss-lint:enable QualifyingElement

	img {
		max-width: 100%;
	}
	a img {
		border: 0;
	}

	> .alert-big {
		font-size: 130%;
	}
	.o-techdocs-leadbody {
		@include oGridRespondTo(M) {
			font-size: 26px;
			line-height: oTechdocsSpacingUnit(4);
			margin: 0 0 oTechdocsSpacingUnit(4);
		}
		font-size: 20px;
		line-height: oTechdocsSpacingUnit(3);
		margin: 0 0 oTechdocsSpacingUnit(3);
	}

	// Fix for nested bulleted/numbered lists (Markdown does not consistently wrap in para tags)
	li > p {
		margin-bottom: 0;
	}

	aside {
		margin-bottom: oTechdocsSpacingUnit(3);
		padding: oTechdocsSpacingUnit(2);
		overflow: hidden;
		border-left: 4px solid oColorsGetPaletteColor('teal');
		background-color: $o-techdocs-content-background;

		> h4,
		> h5 {
			color: oColorsGetPaletteColor('teal');
			font-size: 18px;
			line-height: oTechdocsSpacingUnit(3);
			margin: oTechdocsSpacingUnit(3) 0 0;
		}
		> *:last-child {
			margin-bottom: 0;
		}
		> *:first-child {
			margin-top: 0;
		}
	}
	.o-techdocs__aside--toggleable {
		display: none;
	}
	.o-techdocs__aside--visible {
		display: block;
	}
	iframe {
		max-width: 100%;
		border: 0;
	}

	.o-techdocs__permalink {
		display: none;
		font-family: sans-serif;
		font-weight: normal;
		margin-left: 0.5em;
		color: oColorsGetPaletteColor('teal-50');
		text-decoration: none;
		font-size: 80%;
		line-height: 1;
	}
	h1:hover > .o-techdocs__permalink,
	h2:hover > .o-techdocs__permalink,
	h3:hover > .o-techdocs__permalink,
	h4:hover > .o-techdocs__permalink,
	h5:hover > .o-techdocs__permalink,
	h6:hover > .o-techdocs__permalink {
		display: inline;
		text-decoration: none;
	}

	> *:first-child {
		margin-top: 0;
	}

	// Theme GitHub gists to match FT style
	// This styling still differs a bit from the <pre class='hljs'> styles so better to use the gist-it.appspot.com service
	.gist,
	.gist-it-gist {
		.gist-file {
			border: 1px solid $o-techdocs-border-color;
		}
		.gist-data {
			background-color: $o-techdocs-content-background;
			border-bottom: 0;
		}
		.line-numbers {
			background-color: $o-techdocs-border-color;
			border-right: 0;
			padding: 1em;
		}
		.gist-meta {
			display: none;
		}
	}
}
