%o-techdocs-font {
  font-family: "Helvetica Neue" sans-serif;
  color: $o-techdocs-color-charcoal;
  font-size: 14px;
  line-height: 1.5;
  a {
    color: oColorsGetColorFor(link, text);
  }
}

.o-techdocs-content {

  @extend %o-techdocs-font;

  h1 {
    font-weight: normal;
    font-size: 34px;
  }
  h2 {
    font-weight: normal;
    font-size: 26px;
    border-bottom: 1px solid $o-techdocs-color-grey2;
    padding-bottom: 2px;
    margin: 35px 0 15px 0;
  }
  h3 {
    font-weight: normal;
    font-size: 21px;
    margin: 30px 0 15px 0;
  }
  h4 {
    font-weight: normal;
    font-size: 18px;
    margin: 25px 0 15px 0;
  }
  p, h5, h6 {
    font-weight: normal;
    font-size: 14px;
  }
  .o-techdocs-leadbody {

  }
  code,
  pre,
  var,
  kbd,
  output {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  }
  code {
    background-color: $o-techdocs-color-grey1;
    color: $o-techdocs-color-green;
    white-space: pre-wrap;
  }
  var {
    font-style: italic;
    white-space: nowrap;
    color: $o-techdocs-color-purple;
  }

  pre {
    display: block;
    overflow-x: auto;
    margin: 0 0 10px;
    padding: 9.5px;
    border: 1px solid $o-techdocs-color-grey2;
    background-color: $o-techdocs-color-grey1;
    color: $o-techdocs-color-charcoal;
    word-wrap: inherit;
    word-break: break-all;
    font-size: 11px;
    line-height: 1.5;
    > code {
      padding: 0;
      border: 0;
      background-color: transparent;
      color: inherit;
      white-space: pre;
      font-size: inherit;
      li.L1, li.L3, li.L5, li.L7, li.L9 {
        /* Stripe rows if desired */
      }
    }
  }
  pre.long-code {
    overflow-y: scroll;
    max-height: 340px;
  }
  pre.cli {
    background: $o-techdocs-color-charcoal;
    kbd,
    output {
      padding-left:15px;
      display: inline-block;
    }
    kbd {
      color: white;
      &::before {
        content: '>';
        margin-left: -15px;
        float:left;
      }
    }
    output {
      color: $o-techdocs-color-grey3;
    }
  }

  pre.prettyprint {
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
  }
  img:not(.transparent) {
    padding: 1px;
    border: 2px solid #bbbbbb;
    background-color: #ffffff;
  }
  .alert-big, .o-techdocs-leadbody {
    font-size: 130%;
  }

  // Fix for nested bulleted/numbered lists (Markdown does not consistently wrap in para tags)
  li > p {
    margin-bottom: 0;
  }

  aside {
    margin-bottom: 20px;
    padding: 15px;
    overflow: hidden;
    border-left: 5px solid oColorsGetPaletteColor(claret);
    background-color: $o-techdocs-color-grey1;
    > h4, > h5 {
      color: oColorsGetPaletteColor(claret);
      font-size: 18px;
      margin: 14px 0 0 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
    > *:first-child {
      margin-top: 0;
    }
  }
  .o-techdocs__aside--toggleable {
    display: none;
  }

  iframe {
    max-width: 100%;
    border: 0;
  }

  .o-techdocs__permalink {
    display: none;
    font-family: sans-serif;
    font-weight: normal;
    margin-left: 10px;
    color: #cccccc;
    text-decoration: none;
    font-size: 80%;
    h1:hover > &,
    h2:hover > &,
    h3:hover > &,
    h4:hover > &,
    h5:hover > &,
    h6:hover > & {
      display: inline;
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  // Theme GitHub gists to match FT style
  .gist-data {
    .line-numbers {
      color: oColorsGetColorFor(block-code-sample, text);
      background-color: oColorsGetColorFor(block-code-sample, background);
      border-right: 0;
      padding: 1em;
    }
  }
  .gist-meta {
    display: none;
  }
}
