.o-ft-header {
  margin-bottom: 45px;
}

.o-techdocs__logo {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  background-size: 60px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: url(oTechdocsGetHeaderIcon(grey-tint2, grey-tint3));
}

.o-techdocs__subtitle {
  margin: 0;
  color: #333333;
}

.o-techdocs-footer {
  @extend %o-grid-page;
  @extend %o-ft-typography-body;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #999999;
  a {
    @extend %o-ft-typography-body__link;
    float: right;
  }
}
