.o-techdocs-hero {
	@include oTechdocsFont();
	width: 100%;
	background-color: oColorsGetPaletteColor('paper');
	box-sizing: border-box;
	margin: 0 auto oTechdocsSpacingUnit(14) auto;
	padding: oTechdocsSpacingUnit(14) oTechdocsSpacingUnit(5);
}

.o-techdocs-hero__title {
	text-align: center;
	font-weight: 200;
	font-size: 26px;
	margin: 0;

}
@include oGridRespondTo(S) {
	.o-techdocs-hero__title {
		font-size: 32px;
	}
}
@include oGridRespondTo(M) {
	.o-techdocs-hero__title {
		font-size: 40px;
	}
}
