.o-techdocs-hero {
	@include oTechdocsFont();
	width: 100%;
	background-color: oColorsGetPaletteColor('paper');
	box-sizing: border-box;
	margin: 0 auto;
	padding: oTechdocsSpacingUnit(2);
}

.o-techdocs-hero__title {
	text-align: center;
	font-weight: 200;
	font-size: 20px;
	line-height: oTechdocsSpacingUnit(3);
	margin: 0;

}
@include oGridRespondTo(S) {
	.o-techdocs-hero__title {
		font-size: 32px;
		line-height: oTechdocsSpacingUnit(6);
	}
	.o-techdocs-hero {
		padding: oTechdocsSpacingUnit(5) oTechdocsSpacingUnit(2);
	}
}
@include oGridRespondTo(M) {
	.o-techdocs-hero__title {
		font-size: 40px;
		line-height: oTechdocsSpacingUnit(7);
	}
	.o-techdocs-hero {
		padding: oTechdocsSpacingUnit(7) oTechdocsSpacingUnit(2);
	}
}
