/// Techdocs font settings
@mixin oTechdocsFont {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
	color: $o-techdocs-color-charcoal;
	font-size: 15px;
	line-height: 1.5;

	a {
		color: oColorsGetColorFor(link, text);
	}
}

/// Target both IE8 and modern browsers at the M layout
@mixin _oHeaderBreakpoint {
	@include oGridRespondTo($o-header-breakpoint) {
		@content;
	}
	@include oGridTargetIE8 {
		@content;
	}
}
