/// Techdocs font settings
@mixin oTechdocsFont {
	font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Arial, sans-serif;
	color: oColorsGetColorFor(o-techdocs-content, text);
	font-size: 19px;
	line-height: 24px;

	a {
		color: oColorsGetColorFor(link, text);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
