// sass-lint:disable no-qualifying-elements
.o-techdocs {
	@include oNormaliseHTML();
	background-color: oColorsGetPaletteColor('white');

	[aria-hidden=true] {
		display: none;
	}
}
.o-techdocs-container {
	@include oGridContainer;
}
.o-techdocs-layout {
	@include oGridRespondTo(S) {
		padding-top: oTechdocsSpacingUnit(7);
	}

	padding-top: oTechdocsSpacingUnit(3);
	@include oGridRow;
}
.o-techdocs-sidebar {
	@include oGridRespondTo(M) {
		padding-bottom: 0;
	}
	padding-bottom: oTechdocsSpacingUnit(3);

	@include oGridColspan((default: 12, M: 4, L: 3));
}
.o-techdocs-main {
	@include oGridColspan((default: 12, M: 8, L: 9));
}
.o-techdocs-main--fullwidth {
	@include oGridColspan(full-width);
}
.o-techdocs-footer {
	@include oTechdocsFont();
	@include oGridContainer;
	font-size: 12px;
	margin-top: oTechdocsSpacingUnit(2);
	padding-top: oTechdocsSpacingUnit(1);
	padding-bottom: oTechdocsSpacingUnit(2);
	border-top: 4px solid $o-techdocs-border-color;

	p {
		margin: 0 0 oTechdocsSpacingUnit(2);
	}
}
.o-techdocs-footer__secondary {
	float: right;
}
