// scss-lint:disable QualifyingElement
.o-techdocs {
	background-color: oColorsGetPaletteColor(white);

	.o-header {
		margin-bottom: 45px;
	}
}
.o-techdocs-layout {
	@include oGridRow;
}
.o-techdocs-sidebar {
	@include oGridColumn((default: 12, M: 4, L: 3));
}
.o-techdocs-main {
	@include oGridColumn((default: 12, M: 8, L: 9));
}
.o-techdocs-main--fullwidth {
	@include oGridColumn(full-width);
}
.o-techdocs-footer {
	@extend %o-techdocs-font;
	@include oGridRow;
	font-size: 12px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

	p {
		margin: 0.7em 0;
	}
}
.o-techdocs-footer__inner {
	@include oGridColumn(full-width);
	border-top: 1px dotted $o-techdocs-color-grey3;
}
.o-techdocs-footer__secondary {
	float: right;
}
