// scss-lint:disable QualifyingElement
.o-techdocs {
	background-color: oColorsGetPaletteColor('white');
	font-family: Helvetica, Arial ,sans-serif;

	[aria-hidden=true] {
		display: none;
	}
}
.o-techdocs-container {
	@include oGridContainer;
}
.o-techdocs-layout {
	@include oGridRow;
}
.o-techdocs-sidebar {
	@include oGridColspan((default: 12, M: 4, L: 3));
}
.o-techdocs-main {
	@include oGridColspan((default: 12, M: 8, L: 9));
}
.o-techdocs-main--fullwidth {
	@include oGridColspan(full-width);
}
.o-techdocs-footer {
	@include oTechdocsFont();
	@include oGridContainer;
	font-size: 12px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px dotted $o-techdocs-color-grey3;

	p {
		margin: 0 0 10px;
	}
}
.o-techdocs-footer__secondary {
	float: right;
}
