.o-techdocs-content > table,
.o-techdocs-table-wrapper > table {
  border-collapse: collapse;
  border: 1px solid $o-techdocs-color-grey2;
  margin: 1em 0;

  > #{unquote("thead > tr > td")},
  > #{unquote("tbody > tr > td")},
  > #{unquote("thead > tr > th")},
  > #{unquote("tbody > tr > th")} {
    @extend %o-techdocs-font;
    padding: 10px 6px;
    border-bottom: 1px solid $o-techdocs-color-grey2;
    text-align: left;
  }
  > #{unquote("thead > tr > th")},
  > #{unquote("tbody > tr > th")} {
    background-color: $o-techdocs-color-grey2;
    color: $o-techdocs-color-charcoal-lighter;
  }
  td.right-align,
  th.right-align {
    text-align: right;
  }
  td.left-align,
  tr.left-align {
    text-align: left;
  }
}
.o-techdocs-table-wrapper {
  overflow: auto;
  margin: 1em 0;
  > table {
    margin: 0;
  }
}
