// sass-lint:disable no-qualifying-elements SelectorDepth -- not supported in sass-lint

.o-techdocs-content > table,
.o-techdocs-table-wrapper > table {
	border-collapse: collapse;
	border: 1px solid $o-techdocs-border-color;
	margin: 1em 0;

	> thead > tr > td,
	> tbody > tr > td,
	> thead > tr > th,
	> tbody > tr > th {
		@include oTechdocsFont();
		font-size: 16px;
		line-height: oTechdocsSpacingUnit(3);
		padding: oTechdocsSpacingUnit(1) oTechdocsSpacingUnit(1);
		border-bottom: 1px solid $o-techdocs-border-color;
		text-align: left;
	}
	> thead > tr > th,
	> tbody > tr > th {
		background-color: $o-techdocs-border-color;
	}
	td.right-align,
	th.right-align {
		text-align: right;
	}
	td.left-align,
	tr.left-align {
		text-align: left;
	}
}
.o-techdocs-table-wrapper {
	overflow: auto;
	margin: 1em 0;

	> table {
		margin: 0;
	}
}
