.o-ft-header {
  margin-bottom: 45px;
}

.o-techdocs__logo {
  display: block;
  margin-left: 80px;
  width: 74px;
  height: 75px;
  background: url(oTechdocsGetHeaderIcon(grey-tint2, grey-tint3)) no-repeat center 10px;
}

.o-techdocs__subtitle {
  margin: 0;
  color: #333;
}

.o-techdocs-footer {
  @extend %o-grid-page;
  @extend %o-ft-typography-body;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #999;
  a {
    float: right;
    @extend %o-ft-typography-body__link;
  }
}