
.o-techdocs-header {
  @extend %o-grid-page;
  box-sizing: border-box;
  margin-bottom: 45px;
  border-bottom: 4px solid #a7a59b;
  min-height: 65px;
  h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1;
    font-weight: 300;
    font-size: 3em;
  }
}
.o-techdocs-page-header > p {
  margin: 0 0 10px;
  margin-bottom: 5px;
  font-weight: 200;
  font-size: 21px;
  line-height: 1.4;
}

@include oGridRespondTo (L XL) {
  .o-techdocs-header {
    padding-right: 200px;
    background: url("data:image/svg+xml;utf-8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="172px" height="61px" viewBox="0 0 409.833 140.5" enable-background="new 0 0 409.833 140.5" xml:space="preserve">
<path fill="#3B3735" d="M41.807,114.057c0,13.379,3.571,14.883,18.828,15.449v4.896H0v-4.896c12.616-0.566,16.19-2.07,16.19-15.449
	V26.695c0-13.39-3.574-14.893-15.814-15.452V6.345H107.33l0.762,28.244h-5.273c-4.521-14.312-9.421-18.825-34.466-18.825h-19.4
	c-5.827,0-7.145,1.309-7.145,6.588v40.492h9.556c19.964,0,24.298-3.589,26.743-16.959h4.896v45.197h-4.896
	C75.473,76.02,67.938,72.254,51.364,72.254h-9.556L41.807,114.057L41.807,114.057z"/>
<path fill="#3B3735" d="M228.445,6.346H116.212l-2.605,28.255h6.435c4.11-13.839,10.153-18.835,23.664-18.835h15.817v98.292
	c0,13.377-3.576,14.883-18.075,15.448v4.896h61.771v-4.896c-14.503-0.565-18.081-2.071-18.081-15.448V15.766h15.812
	c13.517,0,19.566,4.996,23.667,18.835h6.436L228.445,6.346z"/>
<g>
	<path fill="#3B3735" d="M351.124,46.845c-0.146,0.108-0.291,0.226-0.424,0.359l-11.322,11.32l7.414,7.417
		c4.278,0.127,8.725,2.013,11.701,4.989l1.803,1.803l7.963-7.964c0.135-0.132,0.25-0.273,0.355-0.418
		c10.57,3.792,22.985,1.345,31.609-7.278c4.257-4.256,7.009-9.438,8.248-14.866l-5.055-5.053l-9.844,9.844l-0.056-0.054
		l-21.765-3.218c-0.471-0.47-3.473-21.162-3.217-21.764l-0.055-0.053l9.844-9.844l-5.056-5.054
		c-5.427,1.239-10.606,3.99-14.862,8.247C349.79,23.874,347.34,36.28,351.124,46.845z"/>
	<path fill="#3B3735" d="M329.059,103.275l-1.803-1.803c-3.014-3.015-4.912-7.375-5.021-11.729l-7.385-7.386l-5.912,5.91
		c-1.381-0.623-3.08-0.354-4.236,0.801l-23,23c-1.484,1.486-1.514,3.865-0.062,5.316l15.76,15.76c1.45,1.451,3.83,1.422,5.314-0.062
		l23-22.999c1.162-1.164,1.428-2.874,0.793-4.258L329.059,103.275z"/>
	<path fill="#3B3735" d="M293.165,11.858c-2.916,2.917-17.39,17.318-20.963,20.89c-3.574,3.573-0.293,5.105-4.229,9.042
		c-4.473,4.471-6.985,2.726-9.126,3.918c-0.394,0.178-0.761,0.426-1.083,0.748l-7.729,7.729c-1.451,1.45-1.451,3.801,0,5.25
		l15.312,15.313c1.448,1.45,3.8,1.451,5.25,0l6.125-6.124c0.479-0.371,0.938-0.828,1.356-1.358l0.246-0.246
		c0.506-0.507,0.832-1.124,0.984-1.774c0.062-0.136,0.125-0.273,0.184-0.416c0.364-5.031,3.791-12.103,7.582-13.27
		c4.535-1.396,8.123,0.086,11.83,3.08l33.742,33.744l-0.729,0.729c-1.449,1.449-0.356,4.892,1.094,6.343l38.062,38.062
		c1.448,1.449,3.799,1.45,5.25,0l14.145-14.146c1.449-1.45,1.449-3.8,0-5.25l-38.061-38.06c-1.451-1.451-4.894-2.545-6.344-1.096
		l-0.729,0.729l-40.752-40.75c-0.279-17.304,29.668-14.521,29.668-14.521l8.24-8.969C314.129,1.758,296.083,8.941,293.165,11.858z"
		/>
</g>
</svg>")
     100% 50% no-repeat;
  }
}

@include oGridRespondTo (M) {
  .o-techdocs-header > p {
    font-size: 16px;
  }
}

@include oGridRespondTo (S) {
  .o-techdocs-header > h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 2em;
  }
  .o-techdocs-header > p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
  }
}

.o-techdocs-footer {
  @extend %o-grid-page;
  @extend .o-techdocs-content;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #999;
  a {
    float: right;
  }
}
